body{
    padding: 200px;
    background-image: url(/imagenes/railwaystations-metros-porto-portugal-schreder-dexo-dexo-neos-porto-sao-bento-gare-img_0942.jpg);
    background-size: cover; 
    resize: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

button{
    border: none;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#increment-btn{
    background: darkred;
}

#save-btn{
    background: darkgreen;
}