body{
    background-image: url(/imagenes/trainstation.jfif);
    background-size: cover;
    color: rgb(44, 53, 173);
    font-weight: bold;
    text-align: center;
}

button{
    border: none;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#increment-btn{
    background: darkred;
}

#save-btn{
    background: darkgreen;
}